<html>
<head>
    <meta charset="utf-8">
    <title>Kitten Klicker</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/main.js"></script>
</head>

<body>
    <h1>Kitten Klicker</h1>
    <p>You currently have <count id="count">0</count> kittens. Click the kitten
    to attract more.</p>
    <p>You are currently attracting <prod id="prod">0</prod> kittens per
    second. Buy a toy to attract more.</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Production</th>
        </tr>

    {% for building in store %}
        <tr id="store_{{ loop.index0 }}" class="storeItem clickable">
            <td>{{ building.name }}</td>
            <td>{{ "{:,.0f}".format(building.price) }} kittens</td>
            <td>{{ "{:,.0f}".format(building.prod) }} kittens/second</td>
        </tr>
    {% endfor %}

    </table>

    <div>
        <img src="static/kitten.png" alt="" id="kittenImage" class="clickable"/>
    </div>

</body>

</html>
